/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5e8ff; /* lavender */
    color: #4b2e83;
}

header {
    background: #d9b3ff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    font-size: 24px;
    color: #4b2e83;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #4b2e83;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #7a4fcf;
}

/* Sections */
section {
    padding: 60px 8%;
}

/* Home Page */
.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.home-text h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

.home-text p {
    font-size: 18px;
    margin-top: 10px;
}

.home-img img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #caa8ff;
    box-shadow: 0px 0px 15px #b78cff;
}

/* ABOUT PAGE */
.about-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.about-img img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 20px #b78cff;
}

.about-details {
    flex: 1;
}

.about-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 10px;
}

.about-info p {
    font-size: 16px;
}

/* Contact Icons */
.contact-box {
    background: #e9d6ff;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 0 15px #c5a3ff;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0;
}

.contact-item img {
    width: 25px;
}

/* Social Icons */
.social-icons img {
    width: 28px;
    margin-right: 12px;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Cards (Skills/Projects) */
.card {
    background: #e9d6ff;
    padding: 25px;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px #caa8ff;
}

/* Responsive */
@media (max-width: 850px) {
    .home-container,
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    .about-info {
        grid-template-columns: 1fr;
    }
}
